@import url(./_edit-about/popup__input_edit-about.css);
@import url(./_edit-name/popup__input_edit-name.css);
.popup__input {
	width: 358px;
	height: 27.30px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	margin-top: 25px;
	box-sizing: border-box;
}

@media screen and (max-width: 464px) {
	.popup__input {
		width: 100%;
	}
}