.element__delete-icon {
	background: url(../../../images/delete-icon.svg) center no-repeat;
	background-color: transparent;
	border: none;
	width: 18px;
	height: 20px;
	position: absolute;
	top: 18px;
	right: 15px;
	cursor: pointer;
}

.element__delete-icon:hover {
	display: block;
	opacity: .6;
	transition: opacity 0.3s;
}

@media screen and (max-width: 768px) {
	.element__delete-icon {
		display: block;
	}
}