.elements__like-button {
	width: 20.76px;
	min-height: 20px;
	background-image: url(../../../images/LIKE-LOGO.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	margin: 0 10px 0 auto;
	border: none;
	cursor: pointer;
}

.elements__like-button:hover {
	opacity: .3;
	transition: opacity 0.3s;
}